<%content_for :head do %>
  <script type="text/javascript">
    $(function(){
    var subscription = client.subscribe("/<%=@project.name%>", function(task){
          $('#tasks').prepend("<li>"+task.text+"</li>")
        })
    })
  </script>
<%end%>

<% title "Project" %>

<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>

<%= form_for @tasq, :remote=>true do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
 
  <p><%= f.submit  %></p>
<% end %>
<ol id = "tasks">

</ol>
<p>
  <%= link_to "Edit", edit_project_path(@project) %> |
  <%= link_to "Destroy", @project, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", projects_path %>
</p>
